<div class="tab-pane fade pt-3" id="pekerjaan" role="tabpanel">
    <div class="mb-3">
        <label class="form-label small fw-bold">No Induk Karyawan</label>
        <input type="text" name="nik" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label small fw-bold">Sub Company</label>
        <input type="text" name="sub_company_id" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label small fw-bold">Cost Center</label>
        <select name="cc_id" class="form-select">
            <option value="">TIDAK ADA</option>
            {% for id, nama in cc_select %}
                <option value="{{ id }}">{{ nama }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label small fw-bold">Grade</label>
        <input type="text" name="grade" class="form-control">
    </div>    
</div>