<div class="tab-pane fade show active pt-3" id="pribadi" role="tabpanel">
    <div class="row">
        <div class="mb-3 col-9">
            <label class="form-label small fw-bold"> Nama Lengkap</label>
            <input type="text" name="nama" class="form-control" id="inputNama" placeholder="Nama Lengkap">                            
        </div>
        <div class="mb-3 col-3">
            <label class="form-label small fw-bold"> Jenis Kelamin</label>
            <select name="gender" class="form-select" id="inputGender">
                <option value="L">Laki - laki</option>
                <option value="P">Perempuan</option>
            </select>                            
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-4">
            <label class="form-label small fw-bold">Tempat Lahir</label>
            <input type="text" name="pob" class="form-control" id="inputPob" placeholder="Tempat Lahir">                        
        </div>
        <div class="mb-3 col-4">
            <label class="form-label small fw-bold">Tanggal Lahir</label>
            <input type="date" name="dob" class="form-control" id="inputDob" placeholder="Tanggal Lahir">                        
        </div>                    
        <div class="mb-3 col-4">
            <label class="form-label small fw-bold">Agama</label>
            <input type="text" name="religion" class="form-control" id="inputReligion" placeholder="Agama">                        
        </div>
    </div>                    
    <div class="mb-3">
        <label class="form-label small fw-bold">Alamat</label>
        <input type="text" name="address" class="form-control" id="inputAlamat" placeholder="Alamat">                        
    </div>
    <div class="mb-3">
        <label class="form-label small fw-bold">Nomor KTP</label>
        <input type="text" name="resident_id" class="form-control" id="inputAlamat" placeholder="Nomor KTP">                        
    </div>
</div>